var config = {}

config.host = 'localhost';
config.port = 4444;
config.password = "";

config.led = {};
config.led.green = {};
config.led.green.pin = 17;
config.led.red = {};
config.led.red.pin = 27;

module.exports = config;
